In [2]:
import pandas as pd

In [41]:
df = pd.read_csv("data/raw/full_data_with_features.csv")

In [42]:
horse_grouped = df.groupby('horse_ids')['date_race_id'].apply(list).to_dict()
def dothis(row):
  fl = horse_grouped[row['horse_ids']]
  return fl[:fl.index(row['date_race_id'])]

# list(df.loc[(df.horse_ids == row.horse_ids) & (df.date < row.date)]['race_id'])

In [43]:
#indexes_of_races_for_horse 
horse_history = pd.DataFrame(index=df.index)
horse_history['date_race_id'] = df['date_race_id']
horse_history['horse_ids'] = df['horse_ids']
horse_history['old_races'] = df.apply(dothis, axis=1)

In [ ]:
new_df = raw_data.merge(horse_history[['race_id','horse_ids','old_races']], on=['race_id','horse_ids'])

In [127]:
horse_hist.loc[(new_df.race_id == 495896.0) & (new_df.horse_ids == 697748)]

NameError: name 'horse_hist' is not defined

In [128]:
new_df

,race_id,horse_ids,track_id,race_class,distance,going,race_age,race_handicap,race_type,draws,...,dist__32.0,dist__33.0,dist__34.0,dist__35.0,dist__36.0,dist__37.0,dist__38.0,dist__39.0,dist__40.0,old_races
0,495885.0,716693,394.0,5,2420.0,18,32,False,1,5,...,0,0,0,0,0,0,0,0,0,[]
1,496991.0,674407,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
2,496991.0,699630,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
3,496991.0,693632,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
4,496991.0,660606,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868433,783217.0,3119662,193.0,-1,2200.0,4,29,False,1,1,...,0,0,0,0,0,0,0,0,0,"[174502, 175620, 176630, 178583]"
1868434,783217.0,3102082,193.0,-1,2200.0,4,29,False,1,11,...,0,0,0,0,0,0,0,0,0,"[174355, 175620, 180120]"
1868435,783217.0,3198779,193.0,-1,2200.0,4,29,False,1,5,...,0,0,0,0,0,0,0,0,0,"[177593, 180120, 182463]"
1868436,783217.0,3208528,193.0,-1,2200.0,4,29,False,1,3,...,0,0,0,0,0,0,0,0,0,"[177966, 180670, 180758]"
1868437,783410.0,3533498,205.0,-1,4070.0,19,41,True,0,0,...,0,0,0,0,0,0,0,0,0,[]

In [ ]:
new_df = new_df[new_df.old_races.astype('bool')].drop('old_races', axis=1)
new_df

,race_id,horse_ids,track_id,race_class,distance,going,race_age,race_handicap,race_type,draws,...,dist__31.0,dist__32.0,dist__33.0,dist__34.0,dist__35.0,dist__36.0,dist__37.0,dist__38.0,dist__39.0,dist__40.0
352,495896.0,697748,394.0,5,1760.0,18,36,False,1,8,...,0,0,0,0,0,0,0,0,0,0
577,495904.0,659459,1079.0,4,1540.0,16,14,True,1,5,...,0,0,0,0,0,0,0,0,0,0
628,496239.0,720756,513.0,5,1870.0,16,14,True,1,4,...,0,0,0,0,0,0,0,0,0,0
703,496380.0,734395,394.0,5,1320.0,18,7,True,1,7,...,0,0,0,0,0,0,0,0,0,0
739,496375.0,738636,394.0,4,1320.0,18,30,False,1,7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868432,783217.0,3181207,193.0,-1,2200.0,4,29,False,1,6,...,0,0,0,0,0,0,0,0,0,0
1868433,783217.0,3119662,193.0,-1,2200.0,4,29,False,1,1,...,0,0,0,0,0,0,0,0,0,0
1868434,783217.0,3102082,193.0,-1,2200.0,4,29,False,1,11,...,0,0,0,0,0,0,0,0,0,0
1868435,783217.0,3198779,193.0,-1,2200.0,4,29,False,1,5,...,0,0,0,0,0,0,0,0,0,0
1868436,783217.0,3208528,193.0,-1,2200.0,4,29,False,1,3,...,0,0,0,0,0,0,0,0,0,0

In [140]:
new_df.to_csv("data/raw/processed_full_data_with_horse_history.csv")

In [9]:
histories = horse_history.explode('date_race_id')

In [10]:
import numpy as np

In [14]:
horse_hist = histories.dropna()

In [132]:
histories

NameError: name 'histories' is not defined

In [15]:
horse_hist

          race_id  horse_ids date_race_id
279      495896.0     697748           15
479      495904.0     659459           28
671      496239.0     720756           47
736      496380.0     734395           39
700      496375.0     738636           47
...           ...        ...          ...
1868062  783217.0    3198779       180120
1868062  783217.0    3198779       182463
1868056  783217.0    3208528       177966
1868056  783217.0    3208528       180670
1868056  783217.0    3208528       180758

[20797669 rows x 3 columns]

In [12]:
pd.merge(histories[:1000], df[:1000], how='left', left_on=['horse_ids','date_race_id'], right_on=['horse_ids','race_id'])

,race_id_x,horse_ids,date_race_id_x,race_id_y,track_id,race_class,distance,going,race_age,race_handicap,...,sire_prog_type_win_percent,sire_og_dist_win_percent,sire_prog_dist_win_percent,dam_og_going_win_percent,dam_prog_going_win_percent,dam_og_type_win_percent,dam_prog_type_win_percent,dam_og_dist_win_percent,dam_prog_dist_win_percent,date_race_id_y
0,495885.0,716693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,496991.0,674407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,496991.0,699630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,496991.0,693632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,496991.0,660606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,497347.0,728645,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,497641.0,749581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,497609.0,601548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,497641.0,749582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,497641.0,749579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def doit(row):
    new_row = df.loc[(df.date_race_id== row.date_race_id) & (df.horse_ids == row.horse_ids)].values
    if len(new_row) == 0:
        return pd.Series(np.zeros(len(df.columns)), index=df.columns)
    new_row = new_row[0]
    return pd.Series(new_row, index=df.columns)

In [18]:
horse_hist

          race_id  horse_ids date_race_id
279      495896.0     697748           15
479      495904.0     659459           28
671      496239.0     720756           47
736      496380.0     734395           39
700      496375.0     738636           47
...           ...        ...          ...
1868062  783217.0    3198779       180120
1868062  783217.0    3198779       182463
1868056  783217.0    3208528       177966
1868056  783217.0    3208528       180670
1868056  783217.0    3208528       180758

[20797669 rows x 3 columns]

In [17]:
fff = horse_hist.to_csv("fff.csv")

In [45]:
df = df.set_index(["race_id","horse_ids"])

In [61]:
max_length = max(raw_data['length'])
max_places = max(raw_data['places']) + 1

In [95]:
raw_data.loc[(raw_data.length == 0) & (raw_data.won == 0), 'length'] = max_length
raw_data.loc[(raw_data.places == 0) & (raw_data.won == 0), 'places'] = max_places

In [33]:
going_dummy = pd.get_dummies(raw_data['going_cat'].astype("category"), prefix="going_")
pedigree_dummy = pd.get_dummies(raw_data['pedigree_info'].astype("category"), prefix="pedigree_")
distance_dummy = pd.get_dummies(raw_data['dist_categories'].astype("category"), prefix="dist_")

In [97]:
raw_data = raw_data.merge(going_dummy, left_index=True, right_index=True)
raw_data = raw_data.merge(distance_dummy, left_index=True, right_index=True)
#raw_data = raw_data.merge(pedigree_dummy, left_index=True, right_index=True)
raw_data = raw_data.drop(["going_cat", "dist_categories", "pedigree_info"], axis=1)

In [107]:
raw_data = raw_data.drop(['date'], axis=1)

In [114]:
raw_data.to_csv("processed_full_data_with_features.csv")

In [53]:
df.loc[(495885.0, 716693)]

track_id                        394.0
race_class                          5
distance                       2420.0
going                              18
race_age                           32
                               ...
dam_og_type_win_percent           0.0
dam_prog_type_win_percent    0.055738
dam_og_dist_win_percent           0.0
dam_prog_dist_win_percent    0.070175
date_race_id                        0
Name: (495885.0, 716693), Length: 62, dtype: object

In [2]:
from torch.utils.data import Dataset, DataLoader
import torch

c:\Users\leish\anaconda3\envs\tf3\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [61]:
new_df.loc[(new_df.date_race_id == 15)]

Empty DataFrame
Columns: [race_id, horse_ids, track_id, race_class, distance, going, race_age, race_handicap, race_type, date, draws, horse_ages, horse_weight, horse_win_percents, jockey_ids, jockey_win_percent, trainer_ids, trainer_win_percent, days_since_last_race, mean_speed_figures, last_figures, best_figures_dist, best_figures_going, top_speeds, ratings, official_ratings, odds, places, won, days, mean_ratings, last_ratings, last_official_rating, difference_in_ratings, going_cat, best_rating_going, best_official_rating_going, win_percent_going, dist_categories, best_rating_dist, best_official_rating_dist, win_percent_dist, placed, length, pedigree_info, sire_id, dam_id, dam_sire_id, sire_win_percent, dam_win_percent, dam_sire_win_percent, sire_og_going_win_percent, sire_prog_going_win_percent, sire_og_type_win_percent, sire_prog_type_win_percent, sire_og_dist_win_percent, sire_prog_dist_win_percent, dam_og_going_win_percent, dam_prog_going_win_percent, dam_og_type_win_percent, dam_prog_type_win_percent, dam_og_dist_win_percent, dam_prog_dist_win_percent, date_race_id]
Index: []

[0 rows x 64 columns]

In [27]:
raw_data = pd.read_csv("data/raw/full_data_with_features.csv", index_col=[0])
filtered_data = pd.read_csv("data/raw/full_data_with_horse_history.csv", index_col=[0])
index_file = pd.read_csv("data/raw/fff.csv", index_col=[0])

In [28]:
rd = raw_data
fd = filtered_data

In [138]:
fd

,race_id,horse_ids,track_id,race_class,distance,going,race_age,race_handicap,race_type,draws,...,dist__32.0,dist__33.0,dist__34.0,dist__35.0,dist__36.0,dist__37.0,dist__38.0,dist__39.0,dist__40.0,old_races
0,495885.0,716693,394.0,5,2420.0,18,32,False,1,5,...,0,0,0,0,0,0,0,0,0,[]
1,496991.0,674407,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
2,496991.0,699630,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
3,496991.0,693632,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
4,496991.0,660606,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868433,783217.0,3119662,193.0,-1,2200.0,4,29,False,1,1,...,0,0,0,0,0,0,0,0,0,"[174502, 175620, 176630, 178583]"
1868434,783217.0,3102082,193.0,-1,2200.0,4,29,False,1,11,...,0,0,0,0,0,0,0,0,0,"[174355, 175620, 180120]"
1868435,783217.0,3198779,193.0,-1,2200.0,4,29,False,1,5,...,0,0,0,0,0,0,0,0,0,"[177593, 180120, 182463]"
1868436,783217.0,3208528,193.0,-1,2200.0,4,29,False,1,3,...,0,0,0,0,0,0,0,0,0,"[177966, 180670, 180758]"
1868437,783410.0,3533498,205.0,-1,4070.0,19,41,True,0,0,...,0,0,0,0,0,0,0,0,0,[]

In [136]:
new_df

,race_id,horse_ids,track_id,race_class,distance,going,race_age,race_handicap,race_type,draws,...,dist__32.0,dist__33.0,dist__34.0,dist__35.0,dist__36.0,dist__37.0,dist__38.0,dist__39.0,dist__40.0,old_races
0,495885.0,716693,394.0,5,2420.0,18,32,False,1,5,...,0,0,0,0,0,0,0,0,0,[]
1,496991.0,674407,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
2,496991.0,699630,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
3,496991.0,693632,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
4,496991.0,660606,200.0,-1,3520.0,8,41,False,0,0,...,0,0,0,0,0,0,0,0,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868433,783217.0,3119662,193.0,-1,2200.0,4,29,False,1,1,...,0,0,0,0,0,0,0,0,0,"[174502, 175620, 176630, 178583]"
1868434,783217.0,3102082,193.0,-1,2200.0,4,29,False,1,11,...,0,0,0,0,0,0,0,0,0,"[174355, 175620, 180120]"
1868435,783217.0,3198779,193.0,-1,2200.0,4,29,False,1,5,...,0,0,0,0,0,0,0,0,0,"[177593, 180120, 182463]"
1868436,783217.0,3208528,193.0,-1,2200.0,4,29,False,1,3,...,0,0,0,0,0,0,0,0,0,"[177966, 180670, 180758]"
1868437,783410.0,3533498,205.0,-1,4070.0,19,41,True,0,0,...,0,0,0,0,0,0,0,0,0,[]

In [113]:
val = raw_data.loc[(raw_data.date_race_id == 15) & (raw_data.horse_ids == 697748)].values[0]
val = val.astype("float64")
torch.tensor(val)

tensor([4.9589e+05, 6.9775e+05, 3.9400e+02, 5.0000e+00, 1.7600e+03, 1.8000e+01,
        1.4000e+01, 1.0000e+00, 1.0000e+00, 9.0000e+00, 9.0000e+00, 1.1800e+02,
        0.0000e+00, 7.9015e+04, 0.0000e+00, 1.5948e+04, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.2000e+01, 4.2000e+01,
        4.7000e+01, 2.1000e+01, 5.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 7.7500e+00, 5.7272e+05,
        5.4304e+05, 9.9943e+04, 1.0690e-01, 1.1111e-01, 0.0000e+00, 0.0000e+00,
        9.3398e-02, 0.0000e+00, 1.0500e-01, 0.0000e+00, 1.0067e-01, 0.0000e+00,
        9.3398e-02, 0.0000e+00, 1.0500e-01, 0.0000e+00, 1.0067e-01, 1.5000e+01,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00], dtype=torch.float64)

In [34]:
rd = pd.read_csv("data/raw/processed_full_data_with_features.csv", index_col=[0])

In [35]:
fd = pd.read_csv("data/raw/processed_full_data_with_horse_history.csv", index_col=[0])

In [36]:
filtered_data = pd.read_csv("data/raw/full_data_with_horse_history.csv", index_col=[0])

In [40]:
filtered_data

,horse_ids,track_id,race_class,distance,going,race_age,race_handicap,race_type,draws,horse_ages,...,dist__32.0,dist__33.0,dist__34.0,dist__35.0,dist__36.0,dist__37.0,dist__38.0,dist__39.0,dist__40.0,old_races
0,716693,394.0,5,2420.0,18,32,False,1,5,9,...,0,0,0,0,0,0,0,0,0,[]
1,674407,200.0,-1,3520.0,8,41,False,0,0,12,...,0,0,0,0,0,0,0,0,0,[]
2,699630,200.0,-1,3520.0,8,41,False,0,0,11,...,0,0,0,0,0,0,0,0,0,[]
3,693632,200.0,-1,3520.0,8,41,False,0,0,12,...,0,0,0,0,0,0,0,0,0,[]
4,660606,200.0,-1,3520.0,8,41,False,0,0,11,...,0,0,0,0,0,0,0,0,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168258,601548,393.0,5,2200.0,16,14,True,1,8,14,...,0,0,0,0,0,0,0,0,0,"[114, 190, 1081, 1153, 1496, 3445, 15389, 15496]"
168259,748127,393.0,5,2200.0,16,14,True,1,3,9,...,0,0,0,0,0,0,0,0,0,"[154, 1275, 4460]"
168260,743235,393.0,5,2200.0,16,14,True,1,4,9,...,0,0,0,0,0,0,0,0,0,"[2140, 2996, 4168, 5499, 6017, 6511, 6772, 739..."
168261,642368,393.0,5,2200.0,16,14,True,1,10,13,...,0,0,0,0,0,0,0,0,0,"[3250, 4426, 5304, 6636, 6846, 8177, 8981, 955..."
168262,658701,393.0,5,2200.0,16,14,True,1,9,13,...,0,0,0,0,0,0,0,0,0,"[367, 1320, 2323, 5529, 5995, 6983, 9556, 1044..."

In [37]:
fd['race_id'] = filtered_data['race_id']

KeyError: 'race_id'

In [29]:
race_class_dummy = pd.get_dummies(rd['race_class'].astype("category"), prefix="race_class_")
race_age_dummy = pd.get_dummies(rd['race_age'].astype("category"), prefix="race_age_")
rd = rd.merge(race_class_dummy, left_index=True, right_index=True)
rd = rd.merge(race_age_dummy, left_index=True, right_index=True)

In [30]:
race_class_dummy = pd.get_dummies(fd['race_class'].astype("category"), prefix="race_class_")
race_age_dummy = pd.get_dummies(fd['race_age'].astype("category"), prefix="race_age_")
fd = fd.merge(race_class_dummy, left_index=True, right_index=True)
fd = fd.merge(race_age_dummy, left_index=True, right_index=True)

In [31]:
draws_dummy = pd.get_dummies(fd['draws'].astype("category"), prefix="draws_")
race_type = pd.get_dummies(fd['race_type'].astype("category"), prefix="race_type_")
fd = fd.merge(draws_dummy, left_index=True, right_index=True)
fd = fd.merge(race_type, left_index=True, right_index=True)

In [32]:
draws_dummy = pd.get_dummies(rd['draws'].astype("category"), prefix="draws_")
race_type = pd.get_dummies(rd['race_type'].astype("category"), prefix="race_type_")
rd = rd.merge(draws_dummy, left_index=True, right_index=True)
rd = rd.merge(race_type, left_index=True, right_index=True)

In [18]:
rd

,horse_ids,race_age,horse_weight,horse_win_percents,jockey_win_percent,trainer_win_percent,days_since_last_race,mean_speed_figures,last_figures,best_figures_dist,...,draws__35,draws__36,draws__43,draws__78,draws__81,draws__101,draws__141,race_type__0,race_type__1,race_type__2
0,716693,32,120,0.000000,0.000000,0.00,0.0,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
151,674407,41,166,0.000000,0.000000,0.00,0.0,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
152,699630,41,166,0.000000,0.000000,0.00,0.0,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
153,693632,41,163,0.000000,0.333333,0.00,0.0,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
154,660606,41,166,0.000000,0.333333,0.00,0.0,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868060,3119662,29,128,0.250000,0.250000,0.15,218.0,42.000000,58.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1868061,3102082,29,128,0.333333,0.200000,0.30,191.0,58.333333,81.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1868062,3198779,29,128,0.333333,0.100000,0.25,149.0,72.076509,65.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1868056,3208528,29,128,0.333333,0.100000,0.15,181.0,78.743176,81.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1868437,3533498,41,155,0.000000,0.150000,0.00,0.0,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
rd = rd.drop(['race_id','track_id', 'distance','going','race_class','race_handicap','race_type','draws','horse_ages','jockey_ids','trainer_ids',
              'sire_id','dam_id','dam_sire_id'], axis=1)
fd = fd.drop(['race_id','track_id', 'distance','going','race_class','race_handicap','race_type','draws','horse_ages','jockey_ids','trainer_ids',
              'sire_id','dam_id','dam_sire_id'], axis=1)

In [17]:
rd.to_csv("data/raw/processed_full_data_with_full_features.csv")

In [ ]:
fd.to_csv("data/raw/processed_full_data_with_horse_history.csv")

In [22]:
from torch.utils.data import Dataset, DataLoader
import torch

c:\Users\leish\anaconda3\envs\tf3\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [23]:
class HorseHistoryDataset(Dataset):
    def __init__(self, raw_data_file , filtered_data_file,  index_file, transform=None) -> None:
        self.raw_data = pd.read_csv(raw_data_file, index_col=[0])
        self.filtered_data = pd.read_csv(filtered_data_file, index_col=[0])
        self.horse_history_index = pd.read_csv(index_file, index_col=[0])

        self.raw_data = self.raw_data.set_index(["date_race_id", "horse_ids"])
        self.filtered_data = self.filtered_data.set_index(["date_race_id", "race_id", "horse_ids"])
        self.horse_history_index = self.horse_history_index.set_index(["race_id", "horse_ids"])   

        print(self.raw_data.head())
        print(self.filtered_data.head())
        print(self.horse_history_index.head())

        self.transform=transform

    def __len__(self) -> int:
        return len(self.raw_data)

    def __getitem__(self, idx):
        if torch.is_tensor(idx):
            idx = idx.tolist()

        horse = self.filtered_data.iloc[idx]
        if self.transform:
            pass 

        try: 
            print(idx, horse.race_id, horse.name)
            hist = self.horse_history_index.loc[(horse.name[1], horse.name[2])]
            print(hist)
            print(hist.date_race_id.values, horse.name[1])
            x_data = torch.tensor(self.raw_data.loc[(hist.date_race_id.values[0], horse.name[1])].values.astype('float64'))
            print(x_data)
            # Gets the horse race that is currently occuring. Will be predicting the track stats too
            # Could just extract 'won' variable
            y_data = torch.tensor(horse.values.astype('float64'))
            print(y_data)
        except KeyError as e:
            print("Key Error")
            return None
        
        return x_data, y_data
    
tl = DataLoader(HorseHistoryDataset("data/raw/processed_full_data_with_features.csv", "data/raw/processed_full_data_with_horse_history.csv", "data/raw/fff.csv"), batch_size=32)

                        race_age  horse_weight  horse_win_percents  \
date_race_id horse_ids
0            716693           32           120                 0.0
1            674407           41           166                 0.0
             699630           41           166                 0.0
             693632           41           163                 0.0
             660606           41           166                 0.0

                        jockey_win_percent  trainer_win_percent  \
date_race_id horse_ids
0            716693               0.000000                  0.0
1            674407               0.000000                  0.0
             699630               0.000000                  0.0
             693632               0.333333                  0.0
             660606               0.333333                  0.0

                        days_since_last_race  mean_speed_figures  \
date_race_id horse_ids
0            716693                      0.0                 0.0
1            674407                      0.0                 0.0
             699630                      0.0                 0.0
             693632                      0.0                 0.0
             660606                      0.0                 0.0

                        last_figures  best_figures_dist  best_figures_going  \
date_race_id horse_ids
0            716693              0.0                0.0                 0.0
1            674407              0.0                0.0                 0.0
             699630              0.0                0.0                 0.0
             693632              0.0                0.0                 0.0
             660606              0.0                0.0                 0.0

                        ...  draws__35  draws__36  draws__43  draws__78  \
date_race_id horse_ids  ...
0            716693     ...          0          0          0          0
1            674407     ...          0          0          0          0
             699630     ...          0          0          0          0
             693632     ...          0          0          0          0
             660606     ...          0          0          0          0

                        draws__81  draws__101  draws__141  race_type__0  \
date_race_id horse_ids
0            716693             0           0           0             0
1            674407             0           0           0             1
             699630             0           0           0             1
             693632             0           0           0             1
             660606             0           0           0             1

                        race_type__1  race_type__2
date_race_id horse_ids
0            716693                1             0
1            674407                0             0
             699630                0             0
             693632                0             0
             660606                0             0

[5 rows x 185 columns]
                        race_age  horse_weight  horse_win_percents  \
date_race_id horse_ids
40           697748           36           114                 0.0
61           659459           14           120                 0.0
68           720756           14           118                 0.0
78           734395            7           111                 0.0
82           738636           30           131                 0.0

                        jockey_win_percent  trainer_win_percent  \
date_race_id horse_ids
40           697748                    0.0                 0.00
61           659459                    0.0                 0.00
68           720756                    0.0                 0.00
78           734395                    0.0                 0.00
82           738636                    0.0                 0.05

                        days_since_last_race  mean_speed_figures  \
date_race_id horse_ids
40           697748                      1.0                32.0
61           659459                      1.0                50.0
68           720756                      2.0                51.0
78           734395                      3.0                21.0
82           738636                      3.0                55.0

                        last_figures  best_figures_dist  best_figures_going  \
date_race_id horse_ids
40           697748             32.0               32.0                32.0
61           659459             50.0                0.0                50.0
68           720756             51.0                0.0                51.0
78           734395             21.0               21.0                21.0
82           738636             55.0                0.0                55.0

                        ...  draws__32  draws__33  draws__34  draws__35  \
date_race_id horse_ids  ...
40           697748     ...          0          0          0          0
61           659459     ...          0          0          0          0
68           720756     ...          0          0          0          0
78           734395     ...          0          0          0          0
82           738636     ...          0          0          0          0

                        draws__36  draws__78  draws__101  race_type__0  \
date_race_id horse_ids
40           697748             0          0           0             0
61           659459             0          0           0             0
68           720756             0          0           0             0
78           734395             0          0           0             0
82           738636             0          0           0             0

                        race_type__1  race_type__2
date_race_id horse_ids
40           697748                1             0
61           659459                1             0
68           720756                1             0
78           734395                1             0
82           738636                1             0

[5 rows x 182 columns]
                    date_race_id
race_id  horse_ids
495896.0 697748               15
495904.0 659459               28
496239.0 720756               47
496380.0 734395               39
496375.0 738636               47

In [24]:
train_features, train_labels = next(iter(tl))
train_features, train_labels

AttributeError: 'Series' object has no attribute 'race_id'